<!DOCTYPE html>
<html lang="en">
    <%- include('Comp/head') %>
<body>
    <%- include('Comp/cabecalho') %>
        <section class="escolaparalax">
        </section>
        <section>
            <div class="escolas">
                        <div class="Aula">
                            <div class="lista">
                                <div class="cartao">
                                    <div class="frente"><p class="textoTurnos">Escolas de Profetas</p></div>
                                    <div class="traseira"><p class="textoHorarios"> Terça </p>
                                    <p class="textoHorarios"> 19:00 h</p>
                                    </div>
                                </div>

                            </div> 
                        </div>
            </div>                
        </section>
        <section>
        <div class="mis">
        <h1>Aulas</h1>
        <p class='texto'>Aqui eu estou pensando em colar os resumos das aulas escrito ou os audios (ps: Pesquisar como coloca audio no html)</p>
        </div>
        </section>
        <section class="imgVitor">
        <p class="textoEscola"> Estas aulas são para, com base na biblia, alinhar profetas e as profecias atuais com os planos de Deus desde o principio.</p>
        </section>
    <%- include('Comp/footer') %>  
</body>
</html>
    