<!DOCTYPE html>
<html lang="en">
    <%- include('Comp/head') %>
<body>
    <%- include('Comp/cabecalho') %>
        <section>
            <img class="principal" src="css/img/casa.jpeg" alt="casa"/>
        </section>
        <section>
            <div class="mis">
            <h2 class="titulo">Nossa missão</h2>
            <p class="texto"> Nós estamos todos os dias clamando pelo nosso amado.
            Estamos chorando pela noiva e pelo corpo de cristo. Nosso desejo é que o mundo conheça para que assim nosso amado volte para nos buscar. </p>
            </div>
            <img class="img violao"src="css/img/violao.jpeg" alt="casa"/>
        </section>
    <%- include('Comp/footer') %>    
</body>
</html>