<html lang="en">
    <%- include('Comp/head') %>
<body>
    <%- include('Comp/cabecalho') %>
        <section class="turnosparalax">
        <h2 class="turnos">TURNOS</h2>
        </section>
        <section>
        <div class="horarios">
            <div class="turno">
                <div class="lista">
                    <div class="cartao">

                        <div class="frente"><p class="textoTurnos"> SEGUNDA </p></div>
                        <div class="traseira"><p class="textoHorarios"> 16:00 as 18:00 </p></div>
                    </div>

                </div> 
                <div class="lista">
                    <div class="cartao">

                        <div class="frente"><p class="textoTurnos"> TERÇA </p></div>
                        <div class="traseira"><p class="textoHorarios"> 16:00 as 18:00 </p></div>
                    </div>

                </div> 
                <div class="lista">
                    <div class="cartao">

                        <div class="frente"><p class="textoTurnos"> QUARTA </p></div>
                        
                        <div class="traseira">
                        <p class="textoHorarios"> 06:00 as 08:00 </p>
                        <p class="textoHorarios"> 16:00 as 18:00 </p>
                        </div>
                    </div>
                </div>
                <div class="lista">
                    <div class="cartao">

                        <div class="frente"><p class="textoTurnos"> QUINTA </p></div>
                        <div class="traseira">
                        <p class="textoHorarios"> 13:00 as 15:00 </p>
                        <p class="textoHorarios"> 16:00 as 18:00 </p>
                        
                        </div>
                    </div>

                </div>
                <div class="lista">
                    <div class="cartao">

                        <div class="frente"><p class="textoTurnos"> SEXTA </p></div>
                        <div class="traseira">
                        <p class="textoHorarios"> 16:00 as 18:00 </p>
                        <p class="textoHorarios"> 19:00 as 21:00 </p>
                        </div>
                    </div>

                </div>
                <div class="lista">
                    <div class="cartao">

                        <div class="frente"><p class="textoTurnos"> SABADO </p></div>
                        <div class="traseira"><p class="textoHorarios"> 09:00 as 11:00 </p></div>
                    </div>

                </div>
            </div>
        </div>
        </section>
        <section class="imgJeffeRod">
        <p class="textoJeff"> Durante os turnos nós entregamos nossa adoração para Deus, enquanto clamamos por yeshua. No mesmo momento intercedemos pela nossa nação, pelos orfãos, pelos mais pobres, pelo governo, e pela igreja.</p>
        </section>
        <%- include('Comp/footer') %>  
</body>
</html>