body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   overflow-x: hidden;
}
  
section{
  display: flex;
  margin-top: 8vh;
  justify-content: center;
}
nav{
  display: flex;
  width: 80%;
  color: black;
  justify-content: space-around;
  margin-left:30px;
  margin:10;
  }
  .link{
      text-decoration: none;
      color: white;
      font-size: 0.5em;
      margin:10;

    }
  .link:hover{
    color: #757472;
  }
*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu {
  background: #000;
  width: 30px;
  height: 30px;
  position:absolute;
  top: 15px;
  right: 25px;
  cursor:pointer;
    cursor: pointer;
    box-shadow: 0 0 0 0 #000, 0 0 0 0 #000;
    transition: box-shadow 1.1s cubic-bezier(.19,1,.22,1);
}
input:checked ~ label .menu {
  box-shadow: 0 0 0 40vw #000, 0 0 0 50vw #000;
  z-index: 1;
  transition: box-shadow 1.1s cubic-bezier(.19,1,.22,1);
}
input:checked ~ ul {
  opacity: 1;
}
.turno{
  position: relative;
  width: 1200px;
  /* height: 300px; */
  justify-content: center;
  align-items: center;
}
/*-------------------------------*/
/*-------------------*/
/* TAMANHO DOS CARDS*/
.lista {
  position: relative;
  width: 180px;
  height: 240px;
  margin-left:100px;  
}
/*-------------------*/
/*-------------------*/
/* ROTAÇÃO DE CARDS */       
.cartao {
  position: absolute;
  width: 265%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.3s linear;
}
/* PARTE ESSENCIAL DO CÓDIGO */
.cartao:hover{
  transform: rotateY(180deg);
}
.frente {
  position: absolute;
  width: 100vw;
  height: 86%;
  backface-visibility: hidden;
  background: #fff;
  color: #fff;
  border-radius: 20px;
  text-align: center;
  right:25vw;
}
.traseira {
  position: absolute;
  width: 100vw;
  height: 90%;
  backface-visibility: hidden;
  background: #fff;
  color: #fff;
  transform: rotateY(180deg);
  border-radius: 20px;
  text-align: center;
  right:3vw;
}
.icon{
  display: flex;
  flex-direction: row;
}
.icones{
  width: 35px;
  height:35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
  background-color: #000;
  margin: 5px;
  padding: 10px;
  border-radius:50%;
}

footer{
  display: flex;
  justify-content: space-around;
  background-color: black;
  flex-wrap: wrap;
  height: 8vh;
}
footer img{
  width: 50px;
}

footer a {
display: flex;
text-decoration: none;
color: white    ;
font-size:10pt;

}

footer h2{  
color: gray;
font-size:10pt;
}
.icones img{
  width: 25px;
  height:25px;
  position: relative;
  z-index: 2;
}
.icones img:hover{
  z-index: 1;
  cursor: pointer;
}
.youtubev{
  /* visibility: hidden; */
  position: relative;
  bottom:-12px;
}

.icones img{
  width: 22px;
  height: 22px;
}
.turno{
  position: relative;
  top: 45vh;
  left: 66%;
  transform: translate(-50%, -50%);
  list-style: none;
  font-size: 25px;
  opacity: 8;
  transition: .25s .1s cubic-bezier(0, 1.07, 0, 1.02);
  z-index: 1;
}
.lista{
  height: 15vh;
}
ul {
  position: absolute;
  top: 37vw;
  left: 55%;
  transform: translate(-50%, -50%);
  list-style: none;
  font-size: 62px;
  opacity: 0;
  transition: .25s .1s cubic-bezier(0, 1.07, 0, 1.02);
  z-index: 4;
}

a {
  color: #00cec9;
  display: block;
  margin-bottom: 0.1em;
  text-decoration: none;
}
.hamburguer {
  position: relative;
  display: block;
  background: #fff;
  width: 20px;
  height: 2px;
  top: 9px;
  transition: .5s ease-in-out;
} 
.hamburguer:before,
.hamburguer:after {
    background: #000;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .5s ease-in-out;
}

.hamburguer:before {
  top: -7px;
  background-color: white;

}

.hamburguer:after {
  bottom: -7px;
  background-color: white;

}

input {
  display: none;
}

input:checked ~ label .hamburguer {
  transform: rotate(45deg);
}

input:checked ~ label .hamburguer:before {
  transform: rotate(90deg);
  top: 0;
}

input:checked ~ label .hamburguer:after {
  transform: rotate(90deg);
  bottom: 0;
}
.img .montanha{
  left:20%;
}
.titulo{
    color: white;
    font-size: 16pt;
    margin: 0;
}
.horarios{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
 overflow-x: hidden;
  height: 92vh;
}
.escolas{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
 overflow-x: hidden;
  height: 39vh;
}
.Aulas{
  position: relative;
  width: 1200px;
  /* height: 300px; */
  justify-content: center;
  align-items: center;
  position: relative;
  top: 45vh;
  left: 66%;
  transform: translate(-50%, -50%);
  list-style: none;
  font-size: 25px;
  opacity: 8;
  transition: .25s .1s cubic-bezier(0, 1.07, 0, 1.02);
  z-index: 1;
}
.imgJeffeRod{
    background-image: url("img/live/JeffeRod.JPG");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .imgVitor{
    background-image: url("img/escola/vitorPregando.jpeg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.mis{
  width: 37vw;
}
.textoJeff{
  width: 82vw;
  height: 42vh;
  font-size: 1.80em;
  color: #fff;
  font-weight: 300;
}
.textoTurnos{
  display: flex;
  justify-content: flex-start;
  width: 75vw;
  height: 10vw;
  color: black;
  position: relative;
  opacity: 0.85;
  filter: alpha(opacity=85);
  margin: 0;
  padding: 0;
  top: 1vh;
  right: -5vw;
  border-radius: 1vw;
}
.textoHorarios{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 75vw;
  height: 10vw;
  color: black;
  position: relative;
  opacity: 0.85;
  filter: alpha(opacity=85);
  margin: 0;
  margin-top: -4px;
  padding: 0;
  top: 1px;
  right: -4vw;
  border-radius: 1vw;
}
.textoHorarios:hover{
  animation: 2s turno linear;
}
.turnos{
    top:21vw;
    color: #fff;
    left: 10px;
    z-index: 0;
    position: fixed;
    font-weight: 100;
  }

  header{
    display:flex;
    position: fixed;
    background-color: #000;
    justify-content: space-around;
    align-items: center;
    height: 9vh;
    width: 100vw;
    z-index: 3;
    top: 1px;
  }

.turnosparalax{
  background-image: url("img/p-turnos.jpeg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 90vh;
}
.escolaparalax{
  background-image: url("img/escola/principal.JPG");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 90vh;
}

  .logo{
    margin: 1;
    height: 6vh;
    position: relative;
    left:2vw;
  }
  .gui{
    width: 30vh;;
    height: 43vh;
    opacity:0.55;
          filter: alpha(opacity=55);
    position:relative;
    margin:4vh;
    border-radius:10px;
  }
  .violao{
      widows: 50vw;;
      height: 63vw;
      opacity:0.55;
            filter: alpha(opacity=55);
      position:relative;
      margin-top:3vh;
      border-radius:30px;
      left:20%;
  }
  .texto{
    width:50vw;
    height:63vw;
    color:white;
    position:relative;
    opacity:0.85;
    filter: alpha(opacity=85);
    margin:0;
    padding:0;
    top:4vh;
    right:-3vw;
    border-radius:1vw;
  }
  h1{
    color: white;
    font-size: 1em;
    margin: 0;
    left: 2vw;
  }

  section{
        display:flex;
        overflow-x: hidden;
  }
  .mis{
    width: 37vw;
  }
  
  .principal{
  width: 94vw;
  height: 100%;
  opacity:0.55;
	filter: alpha(opacity=55);
  position:relative;
  }
 .montanha{
  width: 240%;
  height: 79vh;
  left: 5vw;
  opacity: 54.55;
  z-index: -1;
  position: absolute;
  z-index: 1;
 }
 @keyframes turno{
  0%{
    color: black;
  }
  100%{
  color: white;
 }
}