<header>
  <img class="logo" src="css/img/logo.png" alt="logocoraramah"/>
  <h1>Casa Ramah</h1>
  <input id="burguer" type="checkbox">
  <label for="burguer">
      <div class="menu">
        <span class="hamburguer"></span>
      </div>
  </label>
   <ul>
            <li><a class="link" href="/">HOME</a></li>
            <li><a class="link" href="/Escolas">ESCOLAS</a></li>
            <li><a class="link" href="/Turnos">TURNOS</a></li>
            <li><a class="link" href="/Lives">LIVES</a></li>
  </ul>
</header>