    <footer>
    <div>
    <h1>Casa Ramah</h1>
    <h1> endereço da casa de oracao</h1>
    </div>
        <div class="icon">
            <div class="icones">
            <img class="insta"src="css/img/instagrambranca.png" alt="instagram">
            </div>
            <div class="icones">
            <img class="youtube" src="css/img/youtube.png" alt="youtube">
            </div>
        </div>
    </footer>